/* Basic Styles */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Flex-grow for the main content to push the footer to the bottom */
.content {
    flex-grow: 1;
}

/* Navbar Styles */
.navbar {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.navbar-black {
    background-color: black;
}

.navbar .navbar-brand {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-black .navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.navbar .navbar-nav li {
    float: left;
}

.navbar .navbar-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar-black .navbar-nav li a {
    color: white;
}

.navbar .navbar-nav li a:hover {
    background-color: #f1f1f1;
}

.navbar-black .navbar-nav li a:hover {
    background-color: #575757;
}

.navbar .search-form {
    float: right;
    padding: 14px 20px;
}

.navbar .search-form input {
    padding: 5px;
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: yellow;
}

.navbar .search-form button {
    padding: 5px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: yellow;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Header Section Styles */
.header {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.header-black {
    background: black;
    color: white;
}

.header h1 {
    margin: 0 0 20px;
    font-size: 3em;
}

.header p {
    margin: 0;
    font-size: 1.2em;
}

/* Features Section Styles */
.features {
    background: #fff;
    padding: 50px 0;
    text-align: center;
}

.features .feature {
    margin: 0 0 20px;
}

.features .feature h2 {
    margin: 0 0 10px;
}

.features .feature p {
    margin: 0 0 20px;
}

.features .feature .btn {
    padding: 10px 20px;
    background: goldenrod;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.features .feature .btn:hover {
    background: yellow;
}

/* Form Styles */
form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background: #ffd700; 
    color: black;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #ffcc00;
}

/* Payment Methods Styles */
.payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.payment-option {
    width: 100px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
}

.payment-option img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Footer Styles */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}

/* Specific Styles */
.transaction-details h2 {
    margin-bottom: 20px;
}

/* Login & Signup Styles */
.login-bg, .create-account-bg, .forgot-password-bg {
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container, .create-account-container, .forgot-password-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h1, .create-account-container h1, .forgot-password-container h1 {
    margin-bottom: 20px;
}

.login-container form label, .create-account-container form label, .forgot-password-container form label {
    margin-top: 10px;
}

.button{
    padding: 10px 20px;
    background: goldenrod;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

